.title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;

  color: rgba(115, 115, 115, 1);
}

.result {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-top: 0.8rem;

  color: rgba(51, 51, 51, 1);
}
