.simulationResult {
  padding: 3.9rem;

  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(236, 236, 236, 1);

  background-color: rgba(255, 255, 255, 1);
}
.simulationHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6.9rem;
}

.installmentsTitle {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;

  margin-top: 7.3rem;
  margin-bottom: 3.4rem;

  color: rgba(115, 115, 115, 1);
}

.installmentsColumns {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(51, 51, 51, 1);

  display: flex;
  text-align: left;
}

.column {
  flex: 1;
}
.column:nth-child(1) {
  flex: 1.5;
}

.column:nth-child(3) {
  flex: 1.5;
}

.installmentsRow {
  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  text-align: left;
}

.row {
  flex: 1;
}

.row:nth-child(1) {
  flex: 1.5;
}
.row:nth-child(3) {
  flex: 1.5;
}

.lastRow {
  text-align: left;
}

.button {
  font-size: 1.6rem;
  letter-spacing: calc(1.6 * 0.07) rem;

  width: 100%;

  display: flex;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;

  margin-top: 5.4rem;

  background-color: rgba(33, 174, 30, 1);
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(196, 196, 196, 1);
  margin: 1.4rem 0;
  padding: 0;
}

.popup {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: fixed;
  background-color: rgba(33, 174, 30, 1);
  color: rgb(245, 245, 245);
  border-radius: 5px;
  top: 0;
  left: 43%;
  padding: 1.5rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
