@use "~styles/colors.scss" as colors;

.button {
  font-family: "Open Sans";
  font-size: 1.6rem;
  line-height: 1.3125;
  color: colors.$white;
  letter-spacing: calc(0.07 * 16px);

  padding: 1.1rem 1.6rem;

  border-radius: 6px;

  border: none;
  box-shadow: 0px 4px 4px 0px rgba(135, 135, 135, 0.25);

  cursor: pointer;

  &:focus {
    border: none;
    outline-color: rgba(66, 66, 66, 0.369);
  }
}
