@use "~styles/breakpoints.scss" as breakpoints;

.simulationForm {
  display: flex;
  flex-direction: column;

  padding: 7rem 3rem 3.8rem 3.3rem;

  margin-inline: 5%;

  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 5px;

  box-shadow: 0 0 10px rgba(236, 236, 236, 1);

  background-color: rgba(255, 255, 255, 1);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
}

.button {
  margin-top: 3rem;

  background-color: rgba(243, 161, 38, 1);
}

@include breakpoints.from1024 {
  .simulationForm {
    margin-inline: 19.1rem;
  }
}
