@use "../../styles/colors.scss" as colors;

.home {
  text-align: center;

  padding-top: 7.7rem;

  background-color: rgba(246, 246, 246, 1);
}

.title {
  font-size: 5rem;
  font-weight: 300;
  line-height: 6.8rem;

  color: colors.$gray;
}
